<?xml version="1.0" encoding="utf-8"?>
<Media Key="01fe0bc2-f0b8-4959-8275-91a9064f5224" Alias="Skärmbild 2024-11-28 100218.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Skaermbild20241128100218png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-28T10:02:44</CreateDate>
    <NodeName Default="Skärmbild 2024-11-28 100218.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/jxalrn4r/skaermbild-2024-11-28-100218.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>