@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{

    Layout = null;
    var children = Model.Children.OfType<Projectpage>();
}

<div class="page-wrapper">
    <div class="projects-grid">

        @foreach (var child in children)
        {
            <div onclick="window.location.href='@child.Url()'" class="project">
                <div class="image-wrapper">
                    <img class="project-image" src="@Umbraco.Media(child.Image.Id).MediaUrl()">
                </div>
                <div>@child.Title</div>
            </div>
        }
    </div>
</div>

<style>
    .page-wrapper{
        display: grid;
        place-items: center;
    }

    .projects-grid {
        max-width: 1200px;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 10px;
    }

    .project {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        gap: 5px;
        background: #dbdbdb;
        padding: 10px;
        border-radius: 10px;
    }

    .image-wrapper {
        overflow: hidden;
    }

    .project-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease;
    }

    .project-image:hover {
        transform: scale(1.1);
    }
</style>