<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b5ba3930-0189-479e-ba55-dd7c142971df" Alias="startpage" Level="1">
  <Info>
    <Name>startpage</Name>
    <Icon>icon-notepad</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>startpage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="393342f3-7b70-4e73-90d9-122238f553c2">startpage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="7fdc727d-09aa-4882-bd23-f404d8e805b3" SortOrder="0">projectpage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>