<?xml version="1.0" encoding="utf-8"?>
<Content Key="87f9600c-cc5a-4a1e-8017-0680854bc5e3" Alias="minstartsida" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/minstartsida</Path>
    <Trashed>false</Trashed>
    <ContentType>startpage</ContentType>
    <CreateDate>2024-11-28T09:42:08</CreateDate>
    <NodeName Default="minstartsida" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="393342f3-7b70-4e73-90d9-122238f553c2">startpage</Template>
  </Info>
  <Properties />
</Content>