<?xml version="1.0" encoding="utf-8"?>
<Content Key="9afe0b58-aecb-476b-b0ea-3ccaf5f57f5a" Alias="Project 1" Level="2">
  <Info>
    <Parent Key="87f9600c-cc5a-4a1e-8017-0680854bc5e3">minstartsida</Parent>
    <Path>/minstartsida/Project1</Path>
    <Trashed>false</Trashed>
    <ContentType>projectpage</ContentType>
    <CreateDate>2024-11-28T09:59:39</CreateDate>
    <NodeName Default="Project 1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="19f403e2-d57c-4a74-ba25-c87b18c58a96">projectpage</Template>
  </Info>
  <Properties>
    <image>
      <Value><![CDATA[[
  {
    "key": "2dc7d1ac-1bdc-452b-aa56-2991729fdf8b",
    "mediaKey": "0b6ea385-ab4a-4db2-aa4b-0f70f584ca16",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <text>
      <Value><![CDATA[ Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sodales, erat sit amet imperdiet accumsan, lorem justo viverra nisl, at egestas ipsum nisi quis turpis. Suspendisse potenti. In ornare blandit lacus, sit amet lobortis risus eleifend at. Fusce dictum tincidunt est ac venenatis. Integer rhoncus risus eget sodales rutrum. Cras sed tellus sem. Sed semper molestie dolor placerat tincidunt. In ultrices maximus mi, a condimentum mi faucibus eget. Sed eget orci neque. Sed eget ex bibendum, varius diam sed, posuere leo. Integer varius faucibus venenatis.

Vivamus vitae tempor ipsum. Duis tincidunt magna sem, eu tristique mauris pellentesque sed. Praesent commodo porta nibh, in ultrices enim imperdiet a. Nullam iaculis, quam malesuada fringilla faucibus, mauris metus gravida lacus, quis efficitur massa neque eget massa. Nunc nunc tellus, lobortis quis eleifend at, condimentum in risus. Nam purus augue, mattis eu est eu, lobortis condimentum nisi. Donec eu iaculis erat. Ut nec ante at nunc aliquam maximus ac quis sapien. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec mi felis, porta et orci sollicitudin, consectetur vulputate erat. Nunc at suscipit est. In porta nunc dolor, id viverra nisl scelerisque non. ]]></Value>
    </text>
    <title>
      <Value><![CDATA[Project 1]]></Value>
    </title>
  </Properties>
</Content>